.current {
    opacity: 0;
    scale: 0;
    height: 0;
    text-align: center;
    padding: 20px;
    
    &.show {
        opacity: 1;
        scale: 1;
        height: auto;
        transition: all 500ms ease-out;
    }
    &__temp {
        font-size: 4rem;
    }
    &__condition {
        display: grid;
        gap: 10px;
        grid-template-columns: auto 80px;
        justify-content: center;
        font-size: 1.5rem;
    }
    &__condition-text {
        place-self: center;
    }
    &__condition-icon {
        display: block;
        width: 100%;
        max-width: 100%;

        img {
            display: block;
        }
    }
}
